
@{
    ViewBag.Title = "Gallery";
}

<div id="page" class="hfeed site">
    @Html.Partial("_CommonNav")
    <div id="main" class="site-main blog-details" role="main">
        <h2 class="page-title-before">checK out our</h2>
        <h1 class="page-title">Image Gallery</h1>
        <div class="container full-width">
            <div class="row">
                <div class="col-xs-12 content-area col-sm-8" id="primary">
                    <div class="post-descr entry">
                        <div class="shortcode-portfolio">
                            <div class="wrapp-categories-gallery">
                                <ul id="categories" class="gallery-categories"><li class="categories-item active" data-category="3-columns"><div class="check-category"><span></span></div>All</li><li class="categories-item" data-category="restaurant"><div class="check-category"><span></span></div>Restaurant</li><li class="categories-item" data-category="desert-3-columns"><div class="check-category"><span></span></div>Desert</li><li class="categories-item" data-category="drinks"><div class="check-category"><span></span></div>Drinks</li><li class="categories-item" data-category="food"><div class="check-category"><span></span></div>Food</li><li class="categories-item" data-category="staff"><div class="check-category"><span></span></div>Staff</li></ul>
                                <a class="prev" id="categories-prev" href="#"><i class="tficon-shevron-left"></i></a>
                                <a class="next" id="categories-next" href="#"><i class="tficon-shevron-right"></i></a>
                            </div><section class="gallery">
                                <ul id="gallery-list" class="gallery-list three-column">
                                    <li class="gallery-item" data-category="restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img1.jpg" class="see-more" data-rel="prettyPhoto[548]" title="Restaurant lounge">
                                                <span class="title">Restaurant lounge</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img1-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"><a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/7.jpg" class="see-more" data-rel="prettyPhoto[548]" title="Restaurant lounge"> </a><a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/8.jpg" class="see-more" data-rel="prettyPhoto[548]" title="Restaurant lounge"> </a></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, food, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_5.jpg" class="see-more" data-rel="prettyPhoto[547]" title="Legendary chicken sandwich">
                                                <span class="title">Legendary chicken sandwich</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_5-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"><a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_1.jpg" class="see-more" data-rel="prettyPhoto[547]" title="Legendary chicken sandwich"> </a><a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_2.jpg" class="see-more" data-rel="prettyPhoto[547]" title="Legendary chicken sandwich"> </a></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, drinks, food, restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/6.jpg" class="see-more" data-rel="prettyPhoto[546]" title="Fruit Tart">
                                                <span class="title">Fruit Tart</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/6-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, drinks, food, restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_1.jpg" class="see-more" data-rel="prettyPhoto[545]" title="Vegetables Soup">
                                                <span class="title">Vegetables Soup</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_1-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/9.jpg" class="see-more" data-rel="prettyPhoto[543]" title="Healthy &#038; tasty breakfast">
                                                <span class="title">Healthy &#038; tasty breakfast</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/9-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, food, restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/8.jpg" class="see-more" data-rel="prettyPhoto[541]" title="Our talented chef sophie">
                                                <span class="title">Our talented chef sophie</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/8-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, drinks, restaurant, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/7.jpg" class="see-more" data-rel="prettyPhoto[539]" title="Cold as ice beverages">
                                                <span class="title">Cold as ice beverages</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/7-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, food, restaurant, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img3.jpg" class="see-more" data-rel="prettyPhoto[538]" title="Legendary chicken sandwich">
                                                <span class="title">Legendary chicken sandwich</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img3-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, food, restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img4.jpg" class="see-more" data-rel="prettyPhoto[536]" title="Fruit Tart">
                                                <span class="title">Fruit Tart</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img4-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, drinks, restaurant, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img2.jpg" class="see-more" data-rel="prettyPhoto[535]" title="Vegetables Soup">
                                                <span class="title">Vegetables Soup</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img2-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="food, restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_2.jpg" class="see-more" data-rel="prettyPhoto[534]" title="Sweet Donuts">
                                                <span class="title">Sweet Donuts</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_2-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_3.jpg" class="see-more" data-rel="prettyPhoto[533]" title="Menu Card">
                                                <span class="title">Menu Card</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/04/gallery_3-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="restaurant, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img7.jpg" class="see-more" data-rel="prettyPhoto[819]" title="Tasty Donuts">
                                                <span class="title">Tasty Donuts</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img7-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="desert-3-columns, food, restaurant, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img6.jpg" class="see-more" data-rel="prettyPhoto[821]" title="White Tart">
                                                <span class="title">White Tart</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img6-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                    <li class="gallery-item" data-category="food, staff, 3-columns, ">
                                        <div class="gallery-img">
                                            <a href="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img5.jpg" class="see-more" data-rel="prettyPhoto[823]" title="Fried Meat">
                                                <span class="title">Fried Meat</span>
                                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img5-340x242.jpg" />
                                        </div>
                                        <div class="gallery-array"></div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div><!-- /.entry -->
                </div><!-- /#primary -->


            </div><!-- /.row -->
        </div><!--/ .container -->
    </div><!--/ #middle -->
    @Html.Partial("_BottomPart", new TheFlavour.ViewModels.Footer { ShowMap = true })
    <a class="anchor hidden" id="to-top" href="#page"><span class="tficon-row-up"></span></a>
</div><!-- /#page-->
<script type='text/javascript' src='http://demo.themefuse.com/theflavour/wp-content/themes/theflavour-parent/js/isotope.pkgd.min.js?ver=1.0'></script>
@Html.Partial("_GoogleMapPart")