@{
    ViewBag.Title = "Home Page";
}

<body class="home page page-id-642 page-template-default">
    <div id="page" class="hfeed site">
        <div class="main-top">
            <div class="slider-full"> 
                <!-- Loading Spinner -->
                <div class="spinner">
                    <div class="wBall" id="wBall_1">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_2">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_3">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_4">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_5">
                        <div class="wInnerBall">
                        </div>
                    </div>
                </div>
                <!--/ Loading Spinner -->

                <div class="main-carousel invisible">
                    <div id="myCarousel91" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide1.jpg);">
                                <div class="title-wrap">
                                    <div data-animate-in="fadeInDown" data-animate-out="fadeOutUp" class="invisible">
                                        <div class="slider-title-before">
                                            <div class="title-line left"></div>
                                            <span>The</span>                                        <div class="title-line right"></div>
                                        </div>
                                        <h1 class="slider-title">Flavour</h1>
                                        <h5 class="slider-subtitle">bar, BISTRO <span> & </span> restaurant</h5>
                                    </div>
                                    <div data-animate-in="fadeInUp" data-animate-out="fadeOutDown" class="invisible">
                                        <a href="#nav-main" class="btn slider-btn anchor-scroll"><span>discover our place</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide2.jpg);">
                                <div class="title-wrap">
                                    <div data-animate-in="fadeInDown" data-animate-out="fadeOutUp" class="invisible">
                                        <div class="slider-title-before">
                                            <div class="title-line left"></div>
                                            <span>The</span>                                        <div class="title-line right"></div>
                                        </div>
                                        <h1 class="slider-title">Flavour</h1>
                                        <h5 class="slider-subtitle">bar, BISTRO <span> & </span> restaurant</h5>
                                    </div>
                                    <div data-animate-in="fadeInUp" data-animate-out="fadeOutDown" class="invisible">
                                        <a href="#nav-main" class="btn slider-btn anchor-scroll"><span>discover our place</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide3.jpg);">
                                <div class="title-wrap">
                                    <div data-animate-in="fadeInDown" data-animate-out="fadeOutUp" class="invisible">
                                        <div class="slider-title-before">
                                            <div class="title-line left"></div>
                                            <span>The</span>                                        <div class="title-line right"></div>
                                        </div>
                                        <h1 class="slider-title"> Flavour</h1>
                                        <h5 class="slider-subtitle">bar, BISTRO <span> & </span> restaurant</h5>
                                    </div>
                                    <div data-animate-in="fadeInUp" data-animate-out="fadeOutDown" class="invisible">
                                        <a href="#nav-main" class="btn slider-btn anchor-scroll"><span>discover our place</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide4.jpg);">
                                <div class="title-wrap">
                                    <div data-animate-in="fadeInDown" data-animate-out="fadeOutUp" class="invisible">
                                        <div class="slider-title-before">
                                            <div class="title-line left"></div>
                                            <span>The</span>                                        <div class="title-line right"></div>
                                        </div>
                                        <h1 class="slider-title"> Flavour</h1>
                                        <h5 class="slider-subtitle">bar, BISTRO <span> & </span> restaurant</h5>
                                    </div>
                                    <div data-animate-in="fadeInUp" data-animate-out="fadeOutDown" class="invisible">
                                        <a href="#nav-main" class="btn slider-btn anchor-scroll"><span>discover our place</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide5.jpg);">
                                <div class="title-wrap">
                                    <div data-animate-in="fadeInDown" data-animate-out="fadeOutUp" class="invisible">
                                        <div class="slider-title-before">
                                            <div class="title-line left"></div>
                                            <span>The</span>                                        <div class="title-line right"></div>
                                        </div>
                                        <h1 class="slider-title"> Flavour</h1>
                                        <h5 class="slider-subtitle">bar, BISTRO <span> & </span> restaurant</h5>
                                    </div>
                                    <div data-animate-in="fadeInUp" data-animate-out="fadeOutDown" class="invisible">
                                        <a href="#nav-main" class="btn slider-btn anchor-scroll"><span>discover our place</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide6.jpg);">
                                <div class="title-wrap">
                                    <div data-animate-in="fadeInDown" data-animate-out="fadeOutUp" class="invisible">
                                        <div class="slider-title-before">
                                            <div class="title-line left"></div>
                                            <span>The</span>                                        <div class="title-line right"></div>
                                        </div>
                                        <h1 class="slider-title"> Flavour</h1>
                                        <h5 class="slider-subtitle">bar, BISTRO <span> & </span> restaurant</h5>
                                    </div>
                                    <div data-animate-in="fadeInUp" data-animate-out="fadeOutDown" class="invisible">
                                        <a href="#nav-main" class="btn slider-btn anchor-scroll"><span>discover our place</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide7.jpg);">
                                <div class="title-wrap">
                                    <div data-animate-in="fadeInDown" data-animate-out="fadeOutUp" class="invisible">
                                        <div class="slider-title-before">
                                            <div class="title-line left"></div>
                                            <span>The</span>                                        <div class="title-line right"></div>
                                        </div>
                                        <h1 class="slider-title"> Flavour</h1>
                                        <h5 class="slider-subtitle">bar, BISTRO <span> & </span> restaurant</h5>
                                    </div>
                                    <div data-animate-in="fadeInUp" data-animate-out="fadeOutDown" class="invisible">
                                        <a href="#nav-main" class="btn slider-btn anchor-scroll"><span>discover our place</span></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Slider Navigation-->
                        <div class="post-navigation">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel91" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel91" data-slide-to="1" class=""></li>
                                <li data-target="#myCarousel91" data-slide-to="2" class=""></li>
                                <li data-target="#myCarousel91" data-slide-to="3" class=""></li>
                                <li data-target="#myCarousel91" data-slide-to="4" class=""></li>
                                <li data-target="#myCarousel91" data-slide-to="5" class=""></li>
                                <li data-target="#myCarousel91" data-slide-to="6" class=""></li>
                            </ol>
                            <a class="carousel-control left" href="#myCarousel91" data-slide="prev"><i class="tficon-shevron-left"></i></a>
                            <a class="carousel-control right" href="#myCarousel91" data-slide="next"><i class="tficon-shevron-right"></i></a>
                        </div>
                        <!--/Slider Navigation-->
                    </div>
                </div>
            </div>
        </div>
        <script>
    jQuery(document).ready(function($) {
        $('.main-carousel').prepend('<img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/slide1.jpg" alt="" class="testimage hidden">');
        $('.testimage').load(function(){
            $(".main-top .spinner, .main-top .testimage").remove();
            $(".main-carousel").removeClass('invisible').addClass('animated fadeIn');
        });
        var slider = $('#myCarousel91'),
            animateClass;
        slider.carousel({
            interval: 7500,
            pause: 'none'
        });
        slider.find('[data-animate-in]').addClass('animated');
        function animateSlide() {
            slider.find('.item').removeClass('current');
            slider.find('.active').addClass('current').find('[data-animate-in]').each(function () {
                var $this = $(this);
                animateClass = $this.data('animate-in');
                $this.addClass(animateClass)
            });
            slider.find('.active').find('[data-animate-out]').each(function () {
                var $this = $(this);
                animateClass = $this.data('animate-out');
                $this.removeClass(animateClass)
            });
        }
        function animateSlideEnd() {
            slider.find('.active').find('[data-animate-in]').each(function () {
                var $this = $(this);
                animateClass = $this.data('animate-in');
                $this.removeClass(animateClass)
            });
            slider.find('.active').find('[data-animate-out]').each(function () {
                var $this = $(this);
                animateClass = $this.data('animate-out');
                $this.addClass(animateClass)
            });
        }
        slider.find('.invisible').removeClass('invisible');
        animateSlide();
        slider.on('slid.bs.carousel', function () {
            animateSlide();
        });
        slider.on('slide.bs.carousel', function () {
            animateSlideEnd();
        });
    });
        </script>    <header>
            <div class="nav-main " id="nav-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <nav id="site-navigation" class="site-navigation left">
                                <ul id="menu-primary" class="nav-menu clearfix">
                                    <li id="menu-item-851" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-has-children menu-item-851">
                                        <a href="http://demo.themefuse.com/theflavour/?list-menus=food-menu">Menu</a>
                                        <ul/ class="submenu-1" id="submenu-1" />
                                    <li id="menu-item-837" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-837"><a href="http://demo.themefuse.com/theflavour/?list-menus=food-menu">Food menu</a></li>
                                    <li id="menu-item-835" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-835"><a href="http://demo.themefuse.com/theflavour/?list-menus=desert-menu">Deserts Menu</a></li>
                                    <li id="menu-item-836" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-836"><a href="http://demo.themefuse.com/theflavour/?list-menus=drinks-menu">Drinks menu</a></li>
                                </ul>
                                </li>
                                <li id="menu-item-898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mega-nav menu-item-898">
                                    <a href="http://demo.themefuse.com/theflavour/?page_id=452">About Us</a>
                                    <ul/ class="submenu-1" id="submenu-1" />
                                <li id="menu-item-846" class="menu-item menu-item-type-custom menu-item-object-custom menu-level-1 menu-item-846">
                                    <div class="mega-nav-widget">
                                        <div class="widget-container widget_recent_entries">
                                            <ul>
                                                <li class="clearfix">
                                                    <a href="http://demo.themefuse.com/theflavour/?p=96" class="link-name">Cooking Class Tuesdays</a>
                                                    <div class="post-meta">
                                                        <span class="post-date">posted on June 12th, 2014,</span>
                                                        <a href="http://demo.themefuse.com/theflavour/?p=96#comments">7 comments</a>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a href="http://demo.themefuse.com/theflavour/?p=114" class="link-name">Whole Wheat &#038; Soy Waffles With Raspberries</a>
                                                    <div class="post-meta">
                                                        <span class="post-date">posted on April 17th, 2014,</span>
                                                        <a href="http://demo.themefuse.com/theflavour/?p=114#comments">no comments</a>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a href="http://demo.themefuse.com/theflavour/?p=111" class="link-name">Pure Raspberry Pops</a>
                                                    <div class="post-meta">
                                                        <span class="post-date">posted on April 17th, 2013,</span>
                                                        <a href="http://demo.themefuse.com/theflavour/?p=111#comments">no comments</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li id="menu-item-847" class="menu-item menu-item-type-custom menu-item-object-custom menu-level-1 menu-item-847">
                                    <div class="mega-nav-widget">
                                        <div class="widget-container widget_featured_posts">
                                            <ul>
                                                <li class="post-item">
                                                    <div class="post-title"><a href="http://demo.themefuse.com/theflavour/?p=829">Fresh from our Blog</a></div>
                                                    <div class="post-meta">written by <span class="post-author"><a href="http://demo.themefuse.com/theflavour/?author=1" title="Posts by">ThemeFuse</a></span></div>
                                                    <div class="post-image"><a href="http://demo.themefuse.com/theflavour/?p=829"><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/fresh_post-262x85.jpg" class="thumbnail" alt="Home" /></a></div>
                                                    <div class="post-descr">
                                                        <p>Vivamus hendrerit arcu sed erat molestie adro vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in</p>
                                                    </div>
                                                    <div class="post-more"><a href="http://demo.themefuse.com/theflavour/?p=829">READ THE ARTICLE</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li id="menu-item-842" class="menu-item menu-item-type-custom menu-item-object-custom menu-level-1 menu-item-842">
                                    <div class="mega-nav-widget">
                                        <div class="widget-container widget_twitter">
                                            <div class="tweet_list">
                                                <div class="tweet_item clearfix even">
                                                    <div class="tweet_image"><img src="http://pbs.twimg.com/profile_images/484607062458904577/w2erSVWd_normal.jpeg" width="36" height="38" alt=""></div>
                                                    <div class="tweet_text">
                                                        <div class="inner">What are the real costs of a FREE website: <a href="https://t.co/m8jB10MW11" rel="nofollow" target="_blank">https://t.co/m8jB10MW11</a></div>
                                                    </div>
                                                </div>
                                                <div class="tweet_item clearfix even">
                                                    <div class="tweet_image"><img src="http://pbs.twimg.com/profile_images/484607062458904577/w2erSVWd_normal.jpeg" width="36" height="38" alt=""></div>
                                                    <div class="tweet_text">
                                                        <div class="inner">What is it that makes premium themes better than their unpaid counterparts? Check out our latest blog post: <a href="https://t.co/yjVHygZgT3" rel="nofollow" target="_blank">https://t.co/yjVHygZgT3</a></div>
                                                    </div>
                                                </div>
                                                <p><a href="https://twitter.com/themefuse" class="link-more">FOLLOW US ON TWITTER</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                                </li>
                                <li id="menu-item-902" class="menu-item menu-item-type-post_type menu-item-object-page mega-nav menu-item-902"><a href="http://demo.themefuse.com/theflavour/?page_id=617">Gallery</a></li>
                                <li id="menu-item-834" class="menu-item menu-item-type-taxonomy menu-item-object-events menu-item-834"><a href="http://demo.themefuse.com/theflavour/?events=all-events">Events</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="site-logo" id="site-logo">
                                <a href="http://demo.themefuse.com/theflavour">
                                    <i><span>The</span></i><span>flavour</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <nav id="site-navigation2" class="site-navigation right">
                                <ul id="menu-secondary" class="nav-menu clearfix">
                                    <li id="menu-item-896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-896"><a href="http://demo.themefuse.com/theflavour/?page_id=462">Reservation</a></li>
                                    <li id="menu-item-831" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-831"><a href="http://demo.themefuse.com/theflavour/?cat=2">Blog</a></li>
                                    <li id="menu-item-852" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-852">
                                        <a href="http://demo.themefuse.com/theflavour/?cat=2">Pages</a>
                                        <ul/ class="submenu-1" id="submenu-1" />
                                    <li id="menu-item-844" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-844"><a href="http://demo.themefuse.com/theflavour/?cat=2">Page Sidebar Right</a></li>
                                    <li id="menu-item-845" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-845"><a href="http://demo.themefuse.com/theflavour/?cat=5">Page Sidebar Left</a></li>
                                    <li id="menu-item-843" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-843"><a href="?page_id=452&amp;sticky_menu">Sticky Menu</a></li>
                                    <li id="menu-item-833" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-833">
                                        <a href="#">Portfolio</a>
                                        <ul/ class="submenu-1" id="submenu-1" />
                                    <li id="menu-item-900" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-900"><a href="http://demo.themefuse.com/theflavour/?page_id=622">2 columns</a></li>
                                    <li id="menu-item-901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-901"><a href="http://demo.themefuse.com/theflavour/?page_id=617">3 Columns</a></li>
                                    <li id="menu-item-899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-899"><a href="http://demo.themefuse.com/theflavour/?page_id=624">4 columns</a></li>
                                </ul>
                                </li>
                                <li id="menu-item-832" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-832">
                                    <a href="#">Shortcodes</a>
                                    <ul/ class="submenu-1" id="submenu-1" />
                                <li id="menu-item-895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-895"><a href="http://demo.themefuse.com/theflavour/?page_id=394">Buttons &#038; Lists</a></li>
                                <li id="menu-item-886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-886"><a href="http://demo.themefuse.com/theflavour/?page_id=138">Text &#038; Images</a></li>
                                <li id="menu-item-882" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-882"><a href="http://demo.themefuse.com/theflavour/?page_id=160">Charts</a></li>
                                <li id="menu-item-884" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-884"><a href="http://demo.themefuse.com/theflavour/?page_id=165">Columns with Sidebar</a></li>
                                <li id="menu-item-883" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-883"><a href="http://demo.themefuse.com/theflavour/?page_id=170">Columns full Width</a></li>
                                <li id="menu-item-885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-885"><a href="http://demo.themefuse.com/theflavour/?page_id=172">Lightbox</a></li>
                                <li id="menu-item-887" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887"><a href="http://demo.themefuse.com/theflavour/?page_id=206">Videos &#038; Galleries</a></li>
                                <li id="menu-item-888" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-888"><a href="http://demo.themefuse.com/theflavour/?page_id=220">Google Maps</a></li>
                                <li id="menu-item-894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-894"><a href="http://demo.themefuse.com/theflavour/?page_id=425">Font Icons</a></li>
                                <li id="menu-item-889" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-889"><a href="http://demo.themefuse.com/theflavour/?page_id=228">Tabs &#038; Toggles</a></li>
                                <li id="menu-item-890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-890"><a href="http://demo.themefuse.com/theflavour/?page_id=290">Boxes &#038; Tables</a></li>
                                <li id="menu-item-891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-891"><a href="http://demo.themefuse.com/theflavour/?page_id=308">Typography</a></li>
                                <li id="menu-item-892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-892"><a href="http://demo.themefuse.com/theflavour/?page_id=334">Widgets</a></li>
                                <li id="menu-item-893" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893"><a href="http://demo.themefuse.com/theflavour/?page_id=370">Other</a></li>
                                </ul>
                                </li>
                                </ul>
                                </li>
                                <li id="menu-item-897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-897"><a href="http://demo.themefuse.com/theflavour/?page_id=439">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="main" class="site-main blog-details" role="main">
            <div class="container full-width">
                <div class="row">
                    <div class="col-xs-12 content-area col-sm-8" id="primary">
                        <div class="post-descr entry">
                        </div><!-- /.entry -->
                    </div><!-- /#primary -->


                </div><!-- /.row -->
            </div><!--/ .container -->
        </div><!--/ #middle -->

        <section class="container postlist-menu main-top">
            <div class="row clearfix ">
                <div class="col-sm-4 post menu_type">
                    <div class="inner">
                        <header class="entry-header">
                            <h1 class="entry-title"><a href="http://demo.themefuse.com/theflavour?list-menus=food-menu">Food</a></h1>
                        </header><div class="post-thumbnail">
                            <a href="http://demo.themefuse.com/theflavour?list-menus=food-menu" class="post-find-more">
                                <span><div class="divider up"></div>Find Out More<div class="divider down"></div></span>
                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/food-295x295.jpg" width="295" height="295" />
                        </div><div class="entry-content"><p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed ures tellus rhoncus ut eleif rtorertem retyt ipsum end porttitor.</p></div><footer class="entry-meta">
                            <a href="http://demo.themefuse.com/theflavour?list-menus=food-menu" class="link-view-menu">View Menu</a>
                        </footer>
                    </div>
                </div>
                <div class="col-sm-4 post menu_type">
                    <div class="inner">
                        <header class="entry-header">
                            <h1 class="entry-title"><a href="http://demo.themefuse.com/theflavour?list-menus=desert-menu">Desert</a></h1>
                        </header><div class="post-thumbnail">
                            <a href="http://demo.themefuse.com/theflavour?list-menus=desert-menu" class="post-find-more">
                                <span><div class="divider up"></div>Find Out More<div class="divider down"></div></span>
                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/desert-295x295.jpg" width="295" height="295" />
                        </div><div class="entry-content"><p>Sed molestie augue sit amet leo consequaewt port trosuere. Vestibulum ante ipsum lorem primis in faucibus orci luctus.</p></div><footer class="entry-meta">
                            <a href="http://demo.themefuse.com/theflavour?list-menus=desert-menu" class="link-view-menu">View Menu</a>
                        </footer>
                    </div>
                </div>
                <div class="col-sm-4 post menu_type">
                    <div class="inner">
                        <header class="entry-header">
                            <h1 class="entry-title"><a href="http://demo.themefuse.com/theflavour?list-menus=drinks-menu">Drinks</a></h1>
                        </header><div class="post-thumbnail">
                            <a href="http://demo.themefuse.com/theflavour?list-menus=drinks-menu" class="post-find-more">
                                <span><div class="divider up"></div>Find Out More<div class="divider down"></div></span>
                            </a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/drinks-295x295.jpg" width="295" height="295" />
                        </div><div class="entry-content"><p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faudolor ipsum clorem ibus vestibulum.</p></div><footer class="entry-meta">
                            <a href="http://demo.themefuse.com/theflavour?list-menus=drinks-menu" class="link-view-menu">View Menu</a>
                        </footer>
                    </div>
                </div>
            </div>
        </section><section class=" parallax-section" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/bg-aboutus.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="title-before">About us</h3>
                        <h1 class="title">Tradition &#038; Passion</h1>
                        <div class="text">
                            Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus oncus ut eleifend nib portitor. Lorem in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum  giatrent nisl urekgot dapibus. Mauris iaculis porttitor posuere.<br />
                            <a href="http://demo.themefuse.com/theflavour/?page_id=452" class="btn btn-orange-transparent" target="_self"><span>find out more</span></a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </section>

        <section class="special-offer">
            <div class="row">
                <div class="special-offer-title"><h3 class="section-title-before">check out our</h3><h1 class="section-title">Specials & Events</h1></div>
                <div class="divider"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 postlist">
                            <div class="post clearfix">
                                <div class="inner">
                                    <div class="post-thumbnail"><a href="http://demo.themefuse.com/theflavour/?event=breakfast-menu-only-19-50" class="post-find-more"><span><div class="divider up"></div>Find Out More<div class="divider down"></div></span></a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/offer1-200x200.jpg"></div><div class="entry-aside">
                                        <header class="entry-header">
                                            <h1 class="entry-title"><a href="http://demo.themefuse.com/theflavour/?event=breakfast-menu-only-19-50">breakfast menu only $19<sup>.50</sup></a></h1>
                                        </header>
                                        <div class="entry-meta">
                                            <a href="http://demo.themefuse.com/theflavour/?event=breakfast-menu-only-19-50"><span class="tficon-row"></span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="entry-content"><p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasellus mirolestie magna non lorem ipsum dolor site amet.</p></div>
                                    </div>
                                </div>
                            </div><div class="post clearfix">
                                <div class="inner">
                                    <div class="post-thumbnail"><a href="http://demo.themefuse.com/theflavour/?event=cooking-class-tuesdays" class="post-find-more"><span><div class="divider up"></div>Find Out More<div class="divider down"></div></span></a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/offer21-200x200.jpg"></div><div class="entry-aside">
                                        <header class="entry-header">
                                            <h1 class="entry-title"><a href="http://demo.themefuse.com/theflavour/?event=cooking-class-tuesdays">cooking class tuesdays</a></h1>
                                        </header>
                                        <div class="entry-meta">
                                            <a href="http://demo.themefuse.com/theflavour/?event=cooking-class-tuesdays"><span class="tficon-row"></span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="entry-content"><p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasellus mirolestie magna non lorem ipsum dolor site amet.</p></div>
                                    </div>
                                </div>
                            </div><div class="post clearfix">
                                <div class="inner">
                                    <div class="post-thumbnail"><a href="http://demo.themefuse.com/theflavour/?event=happy-hour-through-2pm-3pm" class="post-find-more"><span><div class="divider up"></div>Find Out More<div class="divider down"></div></span></a><img src="http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/offer3-200x200.jpg"></div><div class="entry-aside">
                                        <header class="entry-header">
                                            <h1 class="entry-title"><a href="http://demo.themefuse.com/theflavour/?event=happy-hour-through-2pm-3pm">&#8220;HAPPY HOUR&#8221; through 2<sup>PM</sup> &#8211; 3<sup>PM</sup></a></h1>
                                        </header>
                                        <div class="entry-meta">
                                            <a href="http://demo.themefuse.com/theflavour/?event=happy-hour-through-2pm-3pm"><span class="tficon-row"></span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="entry-content"><p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasellus mirolestie magna non lorem ipsum dolor site amet.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 reservation">
                            <div class="wrap-reservation">
                                <img src="http://demo.themefuse.com/theflavour/wp-content/themes/theflavour-parent/images/reservation_logo.png"><h1 class="title-before">make reservations</h1><p class="text-before">If you would like to reserve a table please call us at:</p><strong>0844.335.1211</strong><p class="text-after">...or reserve it online by filling in the following form:</p><div class="ribbon ribbon-small">
                                    <a href="http://demo.themefuse.com/theflavour/?page_id=462">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 261.98 57.981" enable-background="new 0 0 261.98 57.981" xml:space="preserve">
                                        <g>
                                        <g>
                                        <path d="M36.638,7.173l8.318,50.808h172.071l8.318-50.808H36.638z M45.59,0H0.369l15.234,25.403L0,50.808h39.688
                                L32.451,4.784L45.59,0z M246.377,25.403L261.611,0h-45.22l13.137,4.784l-7.235,46.023h39.686L246.377,25.403z" />
                            </g>
                        </g>
                                        <span>fill in form</span>
                    </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="divider"></div><div class="container">
                    <div class="row">
                        <div class="col-sm-8 clearfix">
                            <a href="http://demo.themefuse.com/theflavour/?events=all-events" class="btn btn-black-transparent"><span>find out more</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="grid-gallery">
            <div class="grid-galley-col1">
                <div class="box box1 clearfix" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img1-723x718.jpg)">
                    <a href="http://demo.themefuse.com/theflavour/?portfolio=restaurant-lounge" class="box-link-gallery"><strong>Restaurant lounge</strong><br><span>VIEW MORE DETAILS</span></a>
                </div>
            </div><div class="grid-galley-col2">
                <div class="box box2 clearfix" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img2-243x235.jpg)">
                    <a href="http://demo.themefuse.com/theflavour/?portfolio=vegetables-soup" class="box-link-gallery"><strong>Vegetables Soup</strong><br><span>VIEW MORE DETAILS</span></a>
                </div><div class="box box3 clearfix" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img3-243x235.jpg)">
                    <a href="http://demo.themefuse.com/theflavour/?portfolio=legendary-chicken-sandwich" class="box-link-gallery"><strong>Legendary chicken sandwich</strong><br><span>VIEW MORE DETAILS</span></a>
                </div><div class="box box4 clearfix" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img4-243x235.jpg)">
                    <a href="http://demo.themefuse.com/theflavour/?portfolio=fruit-tart" class="box-link-gallery"><strong>Fruit Tart</strong><br><span>VIEW MORE DETAILS</span></a>
                </div>
            </div><div class="grid-galley-col3">
                <div class="box box5 clearfix" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img5-358x355.jpg)">
                    <a href="http://demo.themefuse.com/theflavour/?portfolio=fried-meat" class="box-link-gallery"><strong>Fried Meat</strong><br><span>VIEW MORE DETAILS</span></a>
                </div><div class="box box6 clearfix" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img6-358x355.jpg)">
                    <a href="http://demo.themefuse.com/theflavour/?portfolio=white-tart" class="box-link-gallery"><strong>White Tart</strong><br><span>VIEW MORE DETAILS</span></a>
                </div>
            </div><div class="grid-galley-col4">
                <div class="box box7 clearfix" style="background-image:url(http://demo.themefuse.com/theflavour/wp-content/uploads/2014/05/portfolio_img7-572x718.jpg)">
                    <a href="http://demo.themefuse.com/theflavour/?portfolio=tasty-donuts" class="box-link-gallery"><strong>Tasty Donuts</strong><br><span>VIEW MORE DETAILS</span></a>
                </div>
            </div><div class="rhomb">
                <div class="inner"><h3 class="rhomb-title-before">IMAGE</h3><h1 class="rhomb-title">Gallery</h1><a href="http://demo.themefuse.com/theflavourtheflavour/?page_id=617" class="see-more">SEE MORE</a></div>
            </div>
        </section>
        <section class="testimonials testimonials829 ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="testimonials-title-before">TESTIMONIALS FROM OUR</h3>
                        <h1 class="testimonials-title">Customers &#038; Friends</h1>
                        <div class="testimonials-slider">
                            <span class="tficon-apostroufe"></span>
                            <ul id="testimonials829">
                                <li data-testimonial="1">
                                    <div class="testimonials-text">
                                        <p>&#8220;It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.&#8221;</p>
                                    </div>
                                    <div class="testimonials-author"><span>Will Smith</span></div>
                                    <div class="testimonials-organization"><span>review from</span> <a href="http://themefuse.com/">Themefuse</a></div>
                                </li>
                                <li data-testimonial="1">
                                    <div class="testimonials-text">
                                        <p>&#8220;Themefuse themes are like designer clothes for yor website. I&#8217;d get a whole closet full of lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullarem in dui mauris. Vivamus kissterio hendrerit arcusimos yupinos them.&#8221;</p>
                                    </div>
                                    <div class="testimonials-author"><span>Michael Freemon</span></div>
                                    <div class="testimonials-organization"><span>review from</span> <a href="#">Trip Advisor</a></div>
                                </li>
                            </ul>
                            <div id="testimonials-controls829" class="testimonials-controls"></div>
                        </div>
                    </div>
                    <p>
                        <a id="testimonials-prev829" class="prev" href="#"><i class="tficon-shevron-left"></i></a><br />
                        <a id="testimonials-next829" class="next" href="#"><i class="tficon-shevron-right"></i></a>
                    </p>
                 </div>
            </div>
        </section>
        <p>
            <script>
            jQuery(document).ready(function() {
                function testimonialsInit() {
                    jQuery("#testimonials829").carouFredSel({
                        swipe : {
                            onTouch: true
                        },
                        next : "#testimonials-next829",
                        prev : "#testimonials-prev829",
                        pagination : "#testimonials-controls829",
                        infinite: false,
                        items: 1,
                        auto: {
                            play: true,
                            timeoutDuration: 10000
                        },
                        scroll: {
                            items : 1,
                            fx: "crossfade",
                            easing: "linear",
                            pauseOnHover: true,
                            duration: 300
                        }
                    });
                }
                testimonialsInit();
                jQuery(window).resize(function() {
                    testimonialsInit();
                });
                var tControlsHeight = jQuery(".testimonials-controls").innerHeight();
                jQuery(".testimonials-controls").css("margin-top" , -tControlsHeight/2);
            });
            </script>
        </p>
        <section class="bottom-widgets container main-top">
            <div class="row clearfix ">
                <div class="col-sm-4 col-md-4 ">
                    <div class="widget-container widget-feedback">
                        <h3 class="widget-title-before">Want to contact us?</h3>
                        <h1 class="widget-title">send us your feedback</h1>
                        <div class="widget-content">
                            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasellus mirolestie magna non lorem retibitur asterm dolor site amet.</p>
                        </div>
                        <div class="widget-readmore"><a href="http://demo.themefuse.com/theflavour/?page_id=439"><span class="tficon-row"></span></a></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 ">
                    <div class="widget-container widget-lastet-blog-article">
                        <h3 class="widget-title-before">From the blog</h3>
                        <h1 class="widget-title">Cooking Class Tuesdays</h1>
                        <div class="widget-content">
                            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim hasell moytrirolestie magna non lorem ipsum dolor site amet retituros.</p>
                        </div>
                        <div class="widget-readmore"><a href="http://demo.themefuse.com/theflavour/?p=96"><span class="tficon-row"></span></a></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 ">
                    <div class="widget widget_newsletter newsletterBox newsletter_subscription_box">
                        <h3 class="widget-title-before">Stay in the loop</h3>
                        <h1 class="widget-title">newsletter sign-up</h1>
                        <div class="widget-content">
                            <p>Want to get the latest news &#038; promos?</p>
                        </div>
                        <form action="#" method="post" class="newsletter_subscription_form">
                            <input type="text" value="" name="newsletter" id="newsletter" class="newsletter_subscription_email inputField" placeholder="Enter Your Email" /><br />
                            <button type="submit" class="btn btn-newsletter newsletter_subscription_submit" value="Send" title="Subscribe"><span class="tficon-row"></span></button>
                            <div class="newsletter_subscription_ajax">Loading&#8230;</div>
                        </form>
                        <div class="newsletter_subscription_messages before-text">
                            <div class="newsletter_subscription_message_success">
                                Thank you for your subscription.
                            </div>
                            <div class="newsletter_subscription_message_wrong_email">
                                Your email format is wrong!
                            </div>
                            <div class="newsletter_subscription_message_failed">
                                Sad, but we couldn&#8217;t add you to our mailing list ATM.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-top">
            <div class="see-location ">
                <div class="row">
                    <div id="contact_map190" class="map contact_map"></div>
                    <p>
                        <script>
                    jQuery(window).ready(function () {
                        jQuery("#contact_map190").gMap({
                            markers: [{
                                latitude: 40.715417,
                                longitude: -73.99305600000002,
                                title: "Company Name LTD",
                                html: "<strong>Company Name HQ</strong> <br> 880 Sunset Boulevard, San Diego, CA, United States <br>Tel.: 555-522.326",
                                popup: false,
                                icon: {
                                    image: "http://demo.themefuse.com/theflavour/wp-content/themes/theflavour-parent/images/icons/gmap_icon.png",
                                    iconsize: [25, 34],
                                    iconanchor: [12,34],
                                    infowindowanchor: [0, 0]
                                }
                            }],
                            zoom: 15,
                            scrollwheel: false,
                            maptype: google.maps.MapTypeId.ROADMAP
                        });
                    });
                        </script>
                </div>
                <div class="wrapp-see-location">
                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="title-before">how to arrive</h3>
                            <h1 class="title">Restaurant Location</h1>
                            <h2 class="title-after">880 Sunset Boulevard, San Diego, CA, United States</h2>
                            <p>
                                <a href="#" class="btn btn-black btn-see-location" id="btn-see-location"><span>SEE location on map</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <p>
                    <script>
            jQuery(".btn-see-location").click(function (e) {
                e.preventDefault();
                jQuery(this).parents(".wrapp-see-location").fadeOut("slow");
            });
                    </script>
            </div>
        </section>
        <footer class="footer">
            <div class="row footer-nav">
                <div class="container">
                    <div class="col-sm-10 col-sm-offset-1">
                        <nav id="site-navigation3" class="site-navigation">
                            <ul id="menu-footer" class="">
                                <li id="menu-item-903" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-642 current_page_item menu-item-903"><a href="http://demo.themefuse.com/theflavour/">Home</a></li>
                                <li id="menu-item-838" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-838"><a href="http://demo.themefuse.com/theflavour/?list-menus=food-menu">Menu</a></li>
                                <li id="menu-item-904" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-904"><a href="http://demo.themefuse.com/theflavour/?page_id=452">About Us</a></li>
                                <li id="menu-item-905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-905"><a href="http://demo.themefuse.com/theflavour/?page_id=617">Gallery</a></li>
                                <li id="menu-item-839" class="menu-item menu-item-type-taxonomy menu-item-object-events menu-item-839"><a href="http://demo.themefuse.com/theflavour/?events=all-events">Events</a></li>
                                <li id="menu-item-906" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-906"><a href="http://demo.themefuse.com/theflavour/?page_id=462">Reservation</a></li>
                                <li id="menu-item-840" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-840"><a href="http://demo.themefuse.com/theflavour/?cat=2">Blog</a></li>
                                <li id="menu-item-841" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-841"><a href="#">Pages</a></li>
                                <li id="menu-item-907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-907"><a href="http://demo.themefuse.com/theflavour/?page_id=439">Contact</a></li>
                            </ul>
                        </nav>                    <!--Footer Social-->
                        <div class="footer-socials">
                            <span class="social-icons">
                                <a href="https://www.facebook.com/themefuse" title="Facebook" target="_blank">
                                    <i class="tficon-facebook"></i>
                                </a>
                                <a href="https://twitter.com/themefuse" title="Twitter" target="_blank">
                                    <i class="tficon-twitter"></i>
                                </a>
                                <a href="http://www.pinterest.com/search/pins/?q=themefuse" title="Pinterest" target="_blank">
                                    <i class="tficon-pinterest"></i>
                                </a>
                                <a href="http://www.tripadvisor.com/" title="Trip Advisor" target="_blank">
                                    <i class="tficon-trip-advisor"></i>
                                </a>
                                <a href="http://instagram.com/" title="Instagram" target="_blank">
                                    <i class="tficon-instagram"></i>
                                </a>
                            </span>
                        </div>
                        <!--Copyright-->
                        <div class="copyright">
                            Restaurant Wordpress theme © 2014 Made by <a rel="nofollow" href="http://themefuse.com" target="_blank">ThemeFuse</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a class="anchor hidden" id="to-top" href="#page"><span class="tficon-row-up"></span></a>
    </div><!-- /#page-->
    <script type='text/javascript'>
        /* <![CDATA[ */
        var tf_calendar = {"up_button":"up","down_button":"down","datepicker_opts":{"firstDay":0,"currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesMin":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesShort":["Su","Mo","Tu","We","Th","Fr","Sa"],"weekHeader":"Wk","prevText":"PREVIOUS &#77;&#79;NTH","nextText":"NEXT &#77;&#79;NTH","dateFormat":"March 13, 2016"}};
        /* ]]> */
    </script>
    
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57682328-1', 'themefuse.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

        // Load the plugin.
        ga('require', 'linker');

        // Define which domains to autoLink.
        ga('linker:autoLink', ['fastspring.com']);
    </script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 957922173;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/957922173/?value=0&guid=ON&script=0" />
        </div>
    </noscript>
</body>
