@model TheFlavour.ViewModels.Footer

@if (Model.ShowMap)
{
    <section class="main-top">
        <div class="see-location ">
            <div class="row">
                <div id="contact_map190" class="map contact_map"></div>
                <p>
                    <script>
                    jQuery(window).ready(function () {
                        jQuery("#contact_map190").gMap({
                            markers: [{
                                latitude: 40.715417,
                                longitude: -73.99305600000002,
                                title: "Company Name LTD",
                                html: "<strong>Company Name HQ</strong> <br> 880 Sunset Boulevard, San Diego, CA, United States <br>Tel.: 555-522.326",
                                popup: false,
                                icon: {
                                    image: "http://demo.themefuse.com/theflavour/wp-content/themes/theflavour-parent/images/icons/gmap_icon.png",
                                    iconsize: [25, 34],
                                    iconanchor: [12,34],
                                    infowindowanchor: [0, 0]
                                }
                            }],
                            zoom: 15,
                            scrollwheel: false,
                            maptype: google.maps.MapTypeId.ROADMAP
                        });
                    });
                    </script>
            </div>
            <div class="wrapp-see-location">
                <div class="container">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="title-before">how to arrive</h3>
                        <h1 class="title">Restaurant Location</h1>
                        <h2 class="title-after">880 Sunset Boulevard, San Diego, CA, United States</h2>
                        <p>
                            <a href="#" class="btn btn-black btn-see-location" id="btn-see-location"><span>SEE location on map</span></a>
                        </p>
                    </div>
                </div>
            </div>
            <p>
                <script>
            jQuery(".btn-see-location").click(function (e) {
                e.preventDefault();
                jQuery(this).parents(".wrapp-see-location").fadeOut("slow");
            });
                </script>
        </div>
    </section>
}

<footer class="footer">
    <div class="row footer-nav">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1">
                <nav id="site-navigation3" class="site-navigation">
                    <ul id="menu-footer" class="">
                        <li id="menu-item-903" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-642 current_page_item menu-item-903"><a href="/Home/Index">Home</a></li>
                        <li id="menu-item-838" class="menu-item menu-item-type-taxonomy menu-item-object-list-menus menu-item-838"><a href="/Home/Menu/1">Menu</a></li>
                        <li id="menu-item-904" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-904"><a href="http://demo.themefuse.com/theflavour/?page_id=452">About Us</a></li>
                        <li id="menu-item-905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-905"><a href="http://demo.themefuse.com/theflavour/?page_id=617">Gallery</a></li>
                        <li id="menu-item-839" class="menu-item menu-item-type-taxonomy menu-item-object-events menu-item-839"><a href="http://demo.themefuse.com/theflavour/?events=all-events">Events</a></li>
                        <li id="menu-item-906" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-906"><a href="http://demo.themefuse.com/theflavour/?page_id=462">Reservation</a></li>
                        <li id="menu-item-840" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-840"><a href="http://demo.themefuse.com/theflavour/?cat=2">Blog</a></li>
                        <li id="menu-item-841" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-841"><a href="#">Pages</a></li>
                        <li id="menu-item-907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-907"><a href="/Home/Contact">Contact</a></li>
                    </ul>
                </nav>                    <!--Footer Social-->
                <div class="footer-socials">
                    <span class="social-icons">
                        <a href="https://www.facebook.com/themefuse" title="Facebook" target="_blank">
                            <i class="tficon-facebook"></i>
                        </a>
                        <a href="https://twitter.com/themefuse" title="Twitter" target="_blank">
                            <i class="tficon-twitter"></i>
                        </a>
                        <a href="http://www.pinterest.com/search/pins/?q=themefuse" title="Pinterest" target="_blank">
                            <i class="tficon-pinterest"></i>
                        </a>
                        <a href="http://www.tripadvisor.com/" title="Trip Advisor" target="_blank">
                            <i class="tficon-trip-advisor"></i>
                        </a>
                        <a href="http://instagram.com/" title="Instagram" target="_blank">
                            <i class="tficon-instagram"></i>
                        </a>
                    </span>
                </div>
                <!--Copyright-->
                <div class="copyright">
                    Restaurant Wordpress theme © 2014 Made by <a rel="nofollow" href="http://themefuse.com" target="_blank">ThemeFuse</a>
                </div>
            </div>
        </div>
    </div>
</footer>