<script type='text/javascript'>
        /* <![CDATA[ */
        var tf_calendar = {"up_button":"up","down_button":"down","datepicker_opts":{"firstDay":0,"currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesMin":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesShort":["Su","Mo","Tu","We","Th","Fr","Sa"],"weekHeader":"Wk","prevText":"PREVIOUS &#77;&#79;NTH","nextText":"NEXT &#77;&#79;NTH","dateFormat":"March 13, 2016"}};
        /* ]]> */
</script>

<script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57682328-1', 'themefuse.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

        // Load the plugin.
        ga('require', 'linker');

        // Define which domains to autoLink.
        ga('linker:autoLink', ['fastspring.com']);
</script>

<script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 957922173;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/957922173/?value=0&guid=ON&script=0" />
    </div>
</noscript>